img{
	width:650;
	border:4px solid gray;
	border-radius: 8px;
}

body{
	background-image: url(https://static.wixstatic.com/media/d3975c_9be99ab4385f43f0b93d8d7434f4f3cc~mv2.jpg/v1/fill/w_804,h_452,al_c,q_85,usm_0.66_1.00_0.01/d3975c_9be99ab4385f43f0b93d8d7434f4f3cc~mv2.webp);
	background-size:cover;
	background-attachment:fixed;
	
	font-family:Arial;
}
.photo{
	width:250;
	border:4px solid gray;
	border-radius: 8px;
}


.red{
	color: red;
	font-size: 32px;
}

#specialstyle{
	width:50%;
	border:2px solid black;
	background-color: CadetBlue;
}